.artist_songs {
	@apply flex items-center overflow-x-scroll flex-nowrap py-3 ml-10 gap-4 mt-4;
	max-width: 968px;
	&::-webkit-scrollbar {
		background-color: #f8f8ff;
		height: 10px;
		border-radius: 15px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #000000;
		border-radius: 15px;
	}
}

.song_details {
	@apply flex flex-col gap-2 bg-white rounded-xl p-3 shadow-inner;
	max-width: 200px;
	min-height: 220px;
	.song_detailsImg {
		@apply w-44 h-44 overflow-hidden rounded-xl relative;
		> .img {
			@apply image-bg;
		}
	}
	> p {
		@apply w-44 truncate;
	}
}
