@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	@apply bg-blue-500 text-black;
	font-family: Montserrat;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.show__blocks-enter {
	opacity: 0;
	transform: scale(0.9);
}
.show__blocks-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}
.show__blocks-exit {
	opacity: 1;
}
.show__blocks-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

.error_page {
	@apply mx-auto w-1/2 mt-36 text-center;
	> h1 {
		@apply text-2xl font-semibold mb-6;
	}
	> p {
		@apply mb-6;
	}
	> a {
		@apply font-medium opacity-70 border-b-2 border-transparent transition-all hover:border-dark-700
		hover:opacity-100;
	}
}
